@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = " – Практика";
}
<h2>Тестирование</h2>
<div class="jumbotron">
    
    <div>
        @using (Html.BeginForm("Test", "Home", FormMethod.Post))
        {
             foreach (var x in ViewBag.tests)
            {
                <input type="hidden" value=@x.Id_Test name="QId" />
                <p>@x.Question</p>
                <p>
                    @Html.RadioButton("Answer", "red")
                    <span>@x.Answer_1</span>
                </p>
                <p>
                    @Html.RadioButton("Answer", "blue")
                    <span>@x.Answer_2 </span>
                </p>
                <p>
                    @Html.RadioButton("Answer", "green")
                    <span>@x.Answer_3</span>
                </p>
                <p>
                    @Html.RadioButton("Answer", "orange")
                    @if (x.Answer_4 == null)
                    {
                        continue;
                    }
                    else
                    { 
                        <span>@x.Answer_4</span> 
                    }
                </p>
                <p><input class="btn btn-default" type="submit" value="Ответить" /></p>
            }

        }
    </div>
    <div>

    </div>
</div>
